MAINOOR/src/python/competition/client/.svn/text-base/marioenvironment.py.netbeans-base
Mario/Human/dist/*
Mario/Human/build/*
MAINOOR/classes/*
MAINOOR/dist/*
MAINOOR/build/*
MAINOOR/src/competition/icegic/erek/*
BayesOptMario/nbproject/private/Makefile-variables.mk
BayesOptMario/nbproject/Makefile-variables.mk
BayesOptMario/nbproject/Makefile-impl.mk
/MarioDB/nbproject/private/
/Mario/_badHuman/nbproject/private/
/Mario/_badHuman/build/
*.jpg
